@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto+Condensed:wght@300;400&display=swap');

body {
    background: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.img{
    height: 300px;
    width: auto;
    border-radius: 20px;
    
}
.item{
    border: 15px solid #fff;
    padding-bottom: 200px;
    background-color: #fff;
    border-radius: 20px;
}

.texto{
    position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  font-family: Outfit;
 
  
}
.texto-1{
    font-size: 25px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}

.texto-2{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}