body {
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.img{
    height: 300px;
    width: auto;
    border-radius: 20px;
    width: 100%;

    
}
.item{
    border: 15px solid #fff;
    padding-bottom: 200px;
    background-color: #fff;
    border-radius: 20px;
    max-width: 280px;
    text-align: center;
    padding: 15px 15px 30px;
}

.texto-1{
    font-size: 25px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
}

.texto-2{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}
